body {
    background-color: red;
    color: black;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-size: 25px;
}

nav a {
    text-decoration: none;
}

@media (min-width: 576px) {
    body {
        background-color: red;
        color: black;
    }
}

@media (min-width: 768px) {
    body {
        background-color: #333;
        color: white;
        line-height: 24px;
        font-size: 20px;
    }

    @media (min-width: 992px) {
        body {
            background-color: lightgray;
            color: white;
        }
    }


    nav a {
        background-color: #333;
        color: white;
    }

    nav a:visited {
        background-color: #333;
        color: white;
    }

    nav a:hover {
        background-color: #333;
        color: coral;
    }



    h2 {
        font-family: 'Righteous', cursive;
    }
}
